<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="borrador_front_proyecto-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- codigo-->
    <input type="text" value="{{nombre::input}}"/> <!-- CAMBIA EL VALOR DE nombre al cambiarlo en el campo! -->
    <input type="text" value="[[nombre]]"/> <!-- NO CAMBIA EL VALOR DE nombre al cambiarlo en el campo! -->
    <h2>Soy {{nombre}} [[apellidos]]</h2> <!-- el primer input lo cambia el segundo no-->
    <h2>Soy [[nombre]] [[apellidos]]</h2> <!-- el primer input lo cambia -->
    <input type="range" min="18" max="99" value="{{edad::input}}" />
    <h3>y tengo [[edad]] años </h3> <!-- el input anterior te cambia este campo-->
    <!-- fin codigo -->

    

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class Borrador_front_proyectoApp extends Polymer.Element {
      static get is() { return 'borrador_front_proyecto-app'; }
      static get properties() {
        return {
          nombre: {
            type: String,
            value: 'Daniel de la Croix' /*Valor por defecto de la propiedad */
          },
          apellidos: {
            type: String
          },
          edad: {
            type: Number
          }
        };
      }
    }

    window.customElements.define(Borrador_front_proyectoApp.is, Borrador_front_proyectoApp);
  </script>
</dom-module>
