<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<dom-module id="emisor-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <h1>Soy el emisor</h1>
    <button type="button" name="button" on-click="enviarEvento">Púlsame</button>
  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class EmisorApp extends Polymer.Element {
      static get is() { return 'emisor-app'; }
      static get properties() {
        return { //No devuelve nada
        };
      }
      enviarEvento(e){
        console.log("ON-CLICK","Alguien ha pulsado el botón en el emisor")
        // imprime el mouse-event en consola
        console.log(e)
        // Suelta el evento
        // Ponermos un json como parámetro del evento
        // Aqui el evento login debería de pasar los datos del login (OK o no OK)
        // y el id del cliente.
        // LOS DATOS DEBEN IR EN LA PRPIEDAD detail de CustomEvent
        this.dispatchEvent(new CustomEvent("mievento",{"detail":{"curso":"TechU","anno":2018}}))
      }
    }

    window.customElements.define(EmisorApp.is, EmisorApp);
  </script>
</dom-module>
