<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!--
    Llamada al servicio de Login
    no lleva el auto para que se ejecute solo al pulsar el boton

    Ojo a nuestro servicio
    http://localhost:3000/apitechu/v5/usuarios/login
    la cabecera se llama email, no login
    -->
    <iron-ajax id="HacerLogin"
               url="http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/login"
               method = "POST"
               handle-as="json"
               on-response="MostrarResultadoLogin"
               on-error="MostrarError">
    </iron-ajax>

    <!--
    Componente para login
    Los estilos los dejamos para el final

    Si no ponermos el "::input" no funciona, lo que hace es dar valor
    a los atributos email y password con lo que el usuario teclee en el input
    -->

    <br/></br/> <!-- esto es una chapuza para que el menu no tape el componente -->

    <div class="row">
          <input type="email" name="" value="{{email::input}}"/>
          <input type="password" value="{{password::input}}"/>
          <!-- Ojo USAR EL EVENTO DE POLYMER NO EL OnClick de JS!!! -->
          <!-- on-click llama al método de la clase de abajo-->
          <button on-click="Logar">Login</button>
    </div>

    <!-- Me muestra bienvenida solo si hace login
    $ indica a polymer actualizar en caso de cambio de valor
    ojo, NOT logado

    <span hidden$="{{!logado}}">Bienvenido de nuevo</span>
    <span hidden$="{{logado}}">Error en login</span>

    -->
  <!-- fin codigo -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

     /*Obtiene el usuario a partir del id*/
     // LA CLASE HA DE MANTENER EL ESTADO EN TODO MOMENTO
     // de ahi la propiedad "logado"
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
          email: {
            type: String,
          },
          password: {
            type: String
          },
          logado:{
            type: Boolean,
            value: false
          }
        };
      }
      /*funcion llamada al final de la ejecución del iron-ajax*/
      /*Solo se ejecuta si devuelve un OK*/
      /*Si devuelve un 404 NO SE EJECUTA*/
      MostrarResultadoLogin(resultado){
        console.log("4. Llegaron los resultados")
        console.log(resultado)
        console.log("5. Resultados procesados")
        // Si ha llegado hasta aqui el login ha sido correcto
        this.logado=true

        // Proyecto - hacer un dispatch de un evento personalizado - Custom event
        // Lo manzo en el resultado del iron-ajax si este ha sido correcto
        // Envío lo que me manda el ID
        // Controlado en padre-app.html
        this.dispatchEvent(new CustomEvent('logado',{"detail":{"id": resultado.detail.response.id}}))
      }
      // Error Handler (códigos no OK)
      MostrarError(error){
        console.log("Cascotazo: ")
        console.log(error)
        this.logado=false
      }
      /* Evento on-click de Polymer en el button del formulario */
      Logar() {
        // this.$.hacerLogin me localiza el elemento iron-ajax
        // con $ estamos accediendo al componente
        // Damos valor a las cabeceras HTTP que son la entrada del servicio web
        // que hace login
        // Y lanzamos la request con el metodo generateRequest de iron-ajax
        console.log("1. El usuario ha pulsado el boton")
        this.$.HacerLogin.headers.email = this.email
        this.$.HacerLogin.headers.password = this.password
        console.log("2. Se envia la peticion")
        this.$.HacerLogin.generateRequest()
        console.log("3. Peticion enviada")

        //Si los pasamos por query string habria que modificar la URL con
        //this.$.url
        //this.$.body en caso de POST....
        //etc etc etc
        //ver iron-ajax/iron-ajax.html

      }
    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
