<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<!-- bucle de polymer-->
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">


<dom-module id="visor-cuentas">
  <template>
    <!-- Añadimos esto para que los estilos de bootstrap funcionen en Chrome-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
      :host {
        display: block;
      }
    </style>

    <!-- Quitar el auto="" para que no se muestre solo-->
    <iron-ajax
      id="obtenerCuentas"
      headers='{"idcliente":528}'
      url="http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/cuentas/cliente"
      handle-as="json"
      on-response="mostrarCuentas"
      on-error="mostrarErrorCuentas">
    </iron-ajax>


    <!-- Bucle polymer dentro de una tabla -->
    <!-- HAY QUE HACER UN CODIGO QUE QUITE LA TABLA SI NO ESTAS LOGADO
      
    -->

    <table class="table table-striped">
    <thead>
      <th>Indice</th>
      <th>IBAN</th>
      <th></th>
    </thead>
    <tbody>
    <!-- Muestra el array cuentas que es un metodo de  la clase de abajo-->
    <template is="dom-repeat" items="{{cuentas}}">
      <tr>
        <td>{{index}}</td>
        <td>{{item.iban}}</td>
        <td><a class = "btn btn-info" href="/movimientos/[[item.iban]]">Ver movimientos</a></td>
      </tr>
    </template>
  </tbody>
  </table>

  </template>

  <script>
    /**
     * `visor-cuentas`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          idcliente: {
            type: Number,
            value: 528
          },
          // Array de cuentas del cliente
          cuentas: {
            type: Array
          }
        };
      }
        mostrarCuentas (resultado){
          console.log(resultado.detail.response)
          this.cuentas = resultado.detail.response
        }
        mostrarErrorCuentas (error) {
          console.log(error.detail.response)
        }
        obtenerCuentas(id){
          // Llamamos al Iron-ajax de obtener cuentas
          // id del Iron ajax => "obtenerCuentas"
          console.log ("visor cuentas recibe evento")
          this.$.obtenerCuentas.headers.idcliente = id
          this.$.obtenerCuentas.generateRequest()
        }
      }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
