<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-usuario">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>

    <!-- codigo con la petición de usuario -->
    <!--
    iron-ajax -> LLAMA A UN SERVICIO WEB
    auto: cuando crea el componente lo va a ejecutar
    url: llamada a URL con el servicio web
    on-response: funcion a ejecutar por el componente

    Tendria que funcionar con url="http://localhost:3000/apitechu/v5/usuarios/{{id}}"
    -->
    <iron-ajax auto="" id="obtenerUsuario"
               url="http://rutaapitechu-apitechucmc.7e14.starter-us-west-2.openshiftapps.com/apitechu/v5/usuarios/{{id}}"
               handle-as="json"
               on-response="mostrarDatos">
    </iron-ajax>
    <!-- Pintaamos lo que devuevle-->
    <!--
    La class "row" es de bootstrap
    La class col-x es de bootstrap y se usa para indicar las columnas que octicon-cloud-upload
    La suma de todos ha de ser 12
    las clases btn-XXXX tambien son de bootstrap
    SOLO FUNCIONA EN FIREFOX... en CHROMIUM no!!!
    -->

    <div class="row">
           <!-- propiedades de la clase de abajo -->
           <h1 class="col-4">{{nombre}}</h1>
           <h2 class="col-4">{{apellido}}</h2>
           <!--
           <button class="col-2 btn btn-info">Login</button>
           <button class="col-2 btn btn-default">Logout</button>
           -->
    </div>

  <!-- fin codigo -->
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */

     /*Obtiene el usuario a partir del id*/
    class VisorUsuario extends Polymer.Element {
      static get is() { return 'visor-usuario'; }
      static get properties() {
        return {
          nombre: {
            type: String,
          },
          apellido: {
            type: String
          },
          id: {
            type: Number
          },
          ciudad: {
            type: String,
            value: "Desconocida"
          }
        };
      }
      /*funcion llamada en el iron-ajax*/
      mostrarDatos(datos) {
        //datos.detail saca a consola el <iron-request></iron-request>
        console.log(datos.detail)
        //datos.detail.response contiene un objeto json con los datos
        console.log(datos.detail.response)

        // Vamos a asignar las propiedades del componente
        // Revisar los parámetros para nuestra API, recordad que estamos tirando
        // del openshift de un compañero
        this.nombre = datos.detail.response.nombre
        this.apellido = datos.detail.response.apellido

      }
    }

    window.customElements.define(VisorUsuario.is, VisorUsuario);
  </script>
</dom-module>
