<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="/src/emisor-app/emisor-app.html">
<link rel="import" href="/src/receptor-app/receptor-app.html">
<!-- estos dos para el login ya "bueno" -->
<link rel="import" href="/src/login-usuario/login-usuario.html">
<link rel="import" href="/src/visor-cuentas/visor-cuentas.html">



<dom-module id="padre-app">
  <template>
    <style>
      [hidden] {
        display: none !important;
      }
      :host {
        display: block;
      }
    </style>

  
  <!--
   mievento está definido en el new CustomeEvent() de emisor-app
   procesar() está en la clase del padre
   Los id identifican esta isntancia del componente
  -->
  <!-- Quitamos esto para el login

  <emisor-app id="emi" on-mievento="procesar"></emisor-app>
  <receptor-app id="recep"></receptor-app>
  -->

  <!-- Login, para el proyecto
 cuando la propiedad estoylogado esta a false muestra el login
 cuando la propiedad estoylogado esta a true muestra el login

  -->
  <!-- Quitamos el hidden$ y ponemos los estilos de arriba
  el hidden$ no es correcto apra componentes custom
  <login-usuario hidden$={{estoylogado}} id="lgu" on-logado="procesarLogado"></login-usuario>
  <visor-cuentas hidden$={{!estoylogado}} id="vsc"></visor-cuentas>
  -->

  <login-usuario id="lgu" on-logado="procesarLogado"></login-usuario>
  <visor-cuentas id="vsc"></visor-cuentas>



  </template>

  <script>
    /**
     * `page-not-found`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class PadreApp extends Polymer.Element {
      static get is() { return 'padre-app'; }
      static get properties() {
        return {
          estoylogado:{
            type: Boolean,
            value: false
          }
        };
      }
      procesar(e) {
        console.log("Emisor me ha dicho algo")
        // Aqui vemos que el CustomEvent.detail nos llega el objeto json
        // emitido por emisor-app
        console.log(e)

        // Accedemos al receptor y le pasamos e.detail
        //this.$.vc.mostrarDatos(e.detail)
      }
      procesarLogado(e){
        console.log("Padre recibe login")
        // El login envía el Id en el dispatch del evento
        var id = e.detail.id
        this.$.vsc.obtenerCuentas(id)

        this.estoylogado = true
      }
    }

    window.customElements.define(PadreApp.is, PadreApp);
  </script>
</dom-module>
